.wrapper {
    font-size: 1.6rem;
    line-height: 21px;
    font-weight: 500;
    min-width: 200px;
    margin-bottom: 16px;
}

.normal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 20px;
    width: 180px;
    background-color: var(--white);
    padding: 4px 0px;
    cursor: pointer;

    &:hover {
        border-radius: 6px;
        background-color: var(--white-hover);
    }
}
