.wrapper {
    display: flex;
    flex-direction: column;
    top: 0;
    flex-shrink: 0;
    margin-left: 24px;
}

//side bar header
.header-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 8px;
}

//logo
.logo {
    padding-top: 20px;
    padding-right: 16px;
    cursor: pointer;
}

//search container
.search {
    position: relative;
    display: inline-flex;
    padding: 4px 5px;
    border-radius: 999px;
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}

.search-box {
    position: relative;
    min-width: 320px;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 32px;
    min-height: 32px;
    font-size: 16px;
    font-weight: 200;
    margin-left: 12px;
    border-radius: 999px;
    background-color: rgb(242, 242, 242);
    user-select: none;
    cursor: pointer;
}

.search-btn {
    padding: 0 104px 0 0px;
    border-radius: 999px;
    color: rgba(0, 0, 0, 0.34);
    background-color: rgb(242, 242, 242);
    cursor: pointer;

    &::placeholder {
        font-size: 24px;
    }
}

//sidebar button
.sidebar-item {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    margin-top: 4px;
    cursor: pointer;
}

.sidebar-btn {
    border-radius: 6px;
    cursor: pointer;
}

//login button
.sidebar-login {
    margin-bottom: 16px;
}

//more button
.more {
    height: 40px;
    margin-bottom: 16px;
}

.more-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 208px;
    height: 40px;
    background-color: transparent;
    border-radius: 6px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.more-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

//footer
.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
