@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #fe2c55;
    --primary-hover: #ea284e;
    --black: #000;
    --white: #fff;
    --white-hover: rgba(0, 0, 0, 0.05);
    --text-color: #202020;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

button,
input {
    border: none;
    outline: none;
}

.active {
    background-color: #ea284e;
}
