.wrapper {
    display: flex;
    justify-content: space-between;
}

.main-content {
    margin: 0px auto;
    width: 100%;
    flex-shrink: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;

    .header-nav {
        position: relative;
        display: flex;
        flex-direction: column;
    }
}
